* {
  padding: 0px;
  margin:0px;
}

.wrapper {
  width: 1000px;
  background-color: #dddfd4;
  padding: 15px;
  font-family: Lucida Console, Monaco, monospace;
}
.nav-tab, .sidebar,
.info-box1, .info-box2,
.info-box3, .info-box4,
.info-box5, .info-box6,
.info-content   {
  display: inline-block;
  vertical-align: top;

}

.header {
  width: 965px;
  background-color: #03b1ac;
  padding: 10px;
}

.header img {
  max-width: 43px;
  border-radius: 24px;
}
.header h2 {
  display: inline-block;
  vertical-align: top;
  font-size: 28px;
  padding-top: 8px;

}

.nav-tab ul li {
  display: inline-block;
  font-size: 13.5px;
}
.nav-tab {
  padding: 10px;
  margin: 12px 0 0 92px;

}

.nav-tab a {
  color: white;
  margin-right: 5px;
}
.main-content {
  width: 957px;
  padding: 15px;
  background-color: #ffe499;
  margin-top: 15px;
  color:#ced3c9;
}
.main-content p {
  padding: 12px 20px 10px 10px;
  line-height: 20px;
  word-spacing: 3px;
  font-size: 14px;

}
.main-content h5 {
font-size: 18px;
word-spacing: 10px;
}
.sidebar {
  width: 200px;
  padding: 15px 20px 20px 15px;
}

.sidebar h3 {
  margin:5px 0 15px 0;
}
.sidebar p {
  padding: 10px;
  line-height: 20px;

}
.sidebar,
.info-box1,
.info-box2,
.info-box3,
.info-box4,
.info-box5,
.info-box6 {
  background-color: #094041;
}
.info-box1, .info-box2, .info-box3 {
  width: 185px;
  height: 185px;
  margin: 0 33px 35px 0;
  padding: 10px 0 0 12px;
  box-sizing: border-box;

}
.info-box3 {
  margin-right: 0;
}
.info-box4, .info-box5{
  width: 280px;
  height: 165px;
  padding: 10px 0 0px 12px;
}
.info-box4 {
  margin-right: 33px;
}
.info-box6 {
  margin-top: 33px;
  width: 629px;
  height: 170px;
  padding: 10px 0 0 12px;
  box-sizing: border-box;
}
.info-content{
  width: 644px;
  margin-left: 33px;
}

.footer {
  margin-top: 8px;
  width: 926px;
  background-color: #03b1ac;
  padding: 30px;
  text-align: center;
}
.footer a {
  margin-left: 5px;
}
.main-content span {
  color: #19ada2
}
